<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADVCATO</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/images/logot-img.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-sm ">
            <div class="container-fluid">   
              <a class="navbar-brand" href="../templates/index.html"><img src="../static/images/logo1.png" alt=""><img src="../static/images/logo-t-negate.png" style="height: 40px;" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ms-auto">
                  <!-- <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold " href="javascript:void(0)">Home</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link text-light" href="../templates/about.html">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="../templates/contact.html">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <di   v class="row about_main p-2 g-1" style="margin: 0px;">
            <div class=" col-lg-12 p-4 " style="border: 1px solid white; border-radius: 15px; height: fit-content;">
                    <div class="head text-light">
                        <h2>About Advcato</h2>
                    </div>
                    <div class="para text-light">
                        Welcome to Advcato, your trusted platform for finding and connecting with experienced lawyers. At Advocato, we understand that legal issues can be complex and stressful. That's why we've created a user-friendly platform to make it easier for you to find the right legal assistance quickly and efficiently.
                    </div>
            </div>
            <div class="col-lg-12 p-3">
                <div class="row ">
                    <div class="col-lg-5 p-4 " style="border: 1px solid white; border-radius: 15px; height: fit-content;">
                        <div class="head text-light">
                            <h2>Our Mission</h2>
                        </div>
                        <div class="para text-light">
                            Our mission is to bridge the gap between clients and legal professionals, providing an accessible, transparent, and efficient service to meet all your legal needs. We aim to empower individuals and businesses by offering reliable legal support and guidance at their fingertips.
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img src="../static/images/logo1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-5 p-4 " style="border: 1px solid white; border-radius: 15px; height: fit-content;">
                        <div class="head text-light">
                            <h2>Our Vision</h2>
                        </div>
                        <div class="para text-light">
                            At Advcato, our vision is to revolutionize the legal industry by creating a seamless, efficient, and transparent platform that connects clients with the right legal professionals. We envision a world where everyone, regardless of their background or location, has access to high-quality legal services.                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 p-4" style="border: 1px solid white; border-radius: 15px; height: fit-content;">
                <div class="head text-light">
                    <h2>What we Offer ?</h2>
                </div>
                <div class="para text-light">
                    <ol>
                        <li><span style="font-size: 18px; font-weight: 500;">Find a Lawyer:</span> Easily search for lawyers based on their expertise, location, and reviews. Whether you need assistance with family law, corporate law, criminal defense, or any other legal area, Advocato connects you with qualified professionals.                        </li>
                        <li><span style="font-size: 18px; font-weight: 500;">Chat with Lawyers:</span> Our integrated chat feature allows you to communicate directly with lawyers, ask questions, and get preliminary advice. This helps you make informed decisions before proceeding with legal actions.                        </li>
                        <li><span style="font-size: 18px; font-weight: 500;">Verified Professionals:</span> We ensure that all listed lawyers are verified and have a good track record. You can review their profiles, read client testimonials, and choose the best fit for your needs.                      </li>
                        <li><span style="font-size: 18px; font-weight: 500;">User-Friendly Interface:</span> Our platform is designed with simplicity and ease of use in mind. You can navigate through different categories, search for specific legal services, and connect with lawyers without any hassle.                        </li>
                        <li><span style="font-size: 18px; font-weight: 500;">Confidentiality and Security:</span> Your privacy is our top priority. All communications on Advocato are secure and confidential, ensuring that your personal information is protected.                        </li>
                    </ol>
                </div>
            </div>
          </div>
          <footer style="background-color: rgb(16, 16, 16); margin: 0px; padding: 0px;">
              <div class="col-lg-12 d-flex justify-content-center">
                <img src="../static/images/logo-t-negate.png" alt="" height="50px" style="margin-top: 150px;">
              </div>
              <div class="col-lg-12 text-light d-flex justify-content-center">
                <span style="font-size: 12px; margin-top: -15px;">"Your Legal Ally in the Digital Age"</span>
              </div>
              <div class="col-lg-12 text-light d-flex justify-content-center">
                <span style="font-size: 10px;">since 2024</span>
              </div>
              
          </footer>
    </div>
</body>
</html>