<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADVCATO</title>
    <link rel="stylesheet" href="{% static 'css/index_copy.css' %}">
    <link rel="icon" href="{% static 'logot-img.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-sm ">
            <div class="container-fluid">   
              <a class="navbar-brand" href="../"><img src="{% static 'images/logo1.png' %}" alt=""><img src="{% static 'images/logo-t-negate.png' %}" style="height: 40px;" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ms-auto">
                  <!-- <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold " href="javascript:void(0)">Home</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link text-light" href="about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="starting-page row" style="margin: 0px;">
            <div class="main-heading col-lg-6  d-flex  flex-column px-5 justify-content-center    ">
                <p style="font-size: 60px; font-weight: 700;" class="text-light"><span style="font-size: 75px;">W</span>e Provide The <br> Best Legal Services <br>Globally..</p>
                {% if user %}
                <a href="User_index" class="btn btn-light w-25 rounded-pill" style="font-weight: 700;">Get in</a>

                {% else %}
                <a href="login" class="btn btn-light w-25 rounded-pill" style="font-weight: 700;">Get Started</a>

                {% endif %}
              </div>
            <div class="col-lg-5">
                <div class="banner col-lg-12 ">
                    <img src="{% static 'images/slider-image.png' %}" class="img-fluid" alt="">
                </div>
            </div>
          </div>
          
    </div>
</body>
</html>