
body{
    background-color:rgb(0, 0, 0);
}
.navbar{
    background-color:black
}
.navbar a img{
    height: 65px;
}
/* .nav-item a{
    font-weight: 20px;
} */
.navbar{
    font-size: 18px;
}
.starting-page{
    height: 88.3vh;
    background-color: rgb(0, 0, 0);

}
.editing_home{
    height: 122vh;
}
.banner img{
    height: 680px;
}

ul li:hover{
    color: white;
    text-decoration: underline;
    transform: scale(1.1);
    transition: ease 0.2s;
}
.login-option{
    background-color: black;
    height: 88.3vh;
}
.about_main{
    background-color:black;
    height: fit-content;
}

.login-inp .inp-login{
    background-color: transparent;
    color: white;
}
.login-main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    /* background-color: red; */
}
.login-inp .inp-login:focus{
    box-shadow: none;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.login-inp .inp-login::placeholder{
    color: white;
    opacity: 0.3;
}

.lg-op-bt2 button{
    background-color: white;
}
.lg-op-bt button{
    background-color: rgb(45, 44, 44);
    color: white;
}

.lg-op-bt button:hover{
    background-color: rgb(220, 220, 220);
}

.lg-op-bt2 button:hover{
    background-color: rgb(220, 220, 220);
}
.log #adv-log{
    display: none;
}
.login-main #u_reg{
    display: none;
}
.login-main #adv_reg{
    display: none;
}

.phead{
    display: flex;
    /* background-color: red; */
    /* justify-content: center ; */
    align-items: center;
    color: white;
    font-weight: 600;
}
.phead i{
    margin-top: -10px;
    margin-right: 10px;
}
.para{
    color: white;
    background-color: rgba(70, 68, 68, 0.425);
    padding:10px;
    border-radius: 14px;
    margin-bottom: 10px;
}
.para:hover{
    /* border: 1px solid rgb(164, 164, 164); */
    background-color: rgba(100, 100, 100, 0.425);
    /* transition: all ease 2s; */
}
.firstline label{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.firstline input{
    margin-left:15px ;
}
.firstline select{
    margin-left: 15px;
}
.firstline .check{
    display: inline;
    color: rgb(255, 255, 255);

}
.firstline{
    padding: 20px;
}
.firstline div{
    display: flex;
    flex-direction: column;
    line-height: 1;
    justify-content: center;
    align-items: start;
    margin-bottom: 25px;
}
.regt_t,input[type='time'],input[type='file'],select{
    background-color: transparent;
    width: 60%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 15px;
    color: white;
    
}
.starting-page{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url('../images/lawyer.png'); 
    background-repeat: repeat; 
    background-size: cover;
}

input[type='text']{
    padding: 10px;
}
select{
    height: 200px;
    padding: 10px;
}
.firstline .pcheck{
    margin-top: 10px;
    display: inline;
    justify-content: center;
    
color: white;
}
input[type='file']{
    border: none;
    border-radius: 0px;
}

.adv{
    /* background-color: red; */
    width: 80%;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
.para a{
    text-decoration: none;
    color: white;
}
.total{
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a{
    display: flex;
    align-items: center;
}
.b-grid{
    height: 85vh;
}
.pro_container{
    background-color: rgba(63, 62, 62, 0.463);
    color: white;
    border-radius: 25px;
}
.profile_image{
    position: relative;
    top: -60px;
    flex-direction: column;
}
.profile_image p{
    font-size: 20px;
    letter-spacing: 5px;
}
.notification{
    position: relative;
    bottom: 29px;
    left: 14px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: red;
}
.msg_count{
    height: 20px;
    width: 20px;
    background-color: rgb(251, 2, 2);
    border-radius: 50%;
    font-size: 13px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-div{  
    background-color: rgba(63, 62, 62, 0.463);
    border-radius: 20px;
}
.chat-div ::-webkit-scrollbar {
    width: 5px;
  }


.send-btn{
    color: white;
    border-radius: 50%;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 8px;
    top: 4px;
}
.chat{
    background-color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 20px;
}
.chat-area{
    overflow: scroll;
    height: 300px;
}
/* .advocate{
    position: absolute;
    left: 0px;
    color: white;
} */
