
body{
    background-color:rgb(0, 0, 0);
}
.navbar{
    background-color:black
}
.navbar a img{
    height: 65px;
}
/* .nav-item a{
    font-weight: 20px;
} */
.starting-page{
    height: 88.3vh;
    background-color: rgb(0, 0, 0);

}
.banner img{
    height: 680px;
}

ul li:hover{
    color: white;
    text-decoration: underline;
    transform: scale(1.1);
    transition: ease 0.2s;
}
.login-option{
    background-color: black;
    height: 88.3vh;
}
.about_main{
    background-color:black;
    height: fit-content;
}

.login-inp .inp-login{
    background-color: transparent;
    color: white;
}
.login-main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    /* background-color: red; */
}
.login-inp .inp-login:focus{
    box-shadow: none;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.login-inp .inp-login::placeholder{
    color: white;
    opacity: 0.3;
}

.lg-op-bt2 button{
    background-color: white;
}
.lg-op-bt button{
    background-color: rgb(45, 44, 44);
    color: white;
}

.lg-op-bt button:hover{
    background-color: rgb(220, 220, 220);
}

.lg-op-bt2 button:hover{
    background-color: rgb(220, 220, 220);
}
.log #adv-log{
    display: none;
}
.login-main #u_reg{
    display: none;
}
.login-main #adv_reg{
    display: none;
}